/* Start Global Rules  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #1D3E53;
  height: 80vh;
  font-family: sans-serif;
}
/* End Global Rules  */
.task-emp {
  position: absolute;
  left: 50%;
  top: 22%;
  transform: translate(-50%, 100%);
  color: white;
  background-color: rgb(202, 64, 64);
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1.1px;
  transition: all .4s;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.task-emp.show-empty {
  transform: translate(-50%, 0);
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
h1 {
  margin: 80px auto 10px;
  width: 350px;
  background-color: #77ABB7;
  text-align: center;
  padding: 10px 25px;
  border-radius: 5px;
  color: white;
}
.container {
  margin: 40px auto;
  width: 400px;
  text-align: center;
}
/* Start Input Search  */
.search-input {
  background-color: #77ABB7;
  padding: 10px;
  border-radius: 50px;
}
input[type="text"] {
  width: 300px;
  font-size: 18px;
  padding: 12px;
  border-radius: 50px;
  border: none;
  outline: none;
  caret-color: #1D3E53;
  background-color: #e2f0f3;
}
button {
  background-color: #254B62;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 10px 15px;
  margin-left: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  transition: .5s;
}
button:hover {
  opacity: .9;
}
/* End Input Search  */
/* Start Task Area  */
.task {
  position: relative;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #77ABB7;
  padding: 10px 20px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
}
.task p {
  font-size: 20px;
  letter-spacing: 0.9px;
}
.task i {
  cursor: pointer;
  font-size: 25px;
  color: #1D3E53;
  transition: .5s;
  position: relative;
  right: 10px;
}
.task i.fa-xmark:hover {
  transform: rotate(90deg);
}
.check {
  text-decoration: line-through; 
  opacity: .5;
}
/* End Task Area  */
/* Start Custom Check Box  */
.check-box {
  display: inline-flex;
  align-items: center;
}
.check-list {
  width: 1.60em;
  height: 1.60em;
  border: 2px solid #ccc;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 18px;
  cursor: pointer;
  transition: all .4s;
}
.check-background {
  border: 2px solid #1D3E53;
  background-color: #1D3E53;
  animation: check 1s 1;
}
.check-background::after {
  content: '\2713';
  color: white;
  font-size: 18px;
} 
/* Animation Check Box  */
@keyframes check {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
/* End Custom Check Box  */
/* Some Lovely things */
::placeholder {
  color: #1D3E53;
}
::selection {
  background-color: #1D3E53;
  color: white;
}